@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poetsen One", sans-serif;
        
}
nav{
    width: 100%;
    position: sticky !important;
    left: 0;
    top: 0;
    box-shadow: 0px 5px 8px rgba(0,0,0,0.5);
    z-index: 10;
}
.navbar-barand{
    font-weight: 600;
}
.nav-link{
     color:skyblue !important;
     
}
.nav-link:hover{
    border-bottom: 1px solid rgb(248, 248, 248);
}
section{
    width: 100px;
    min-height: 100vh;
}
#home{
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.6)),url(/storage/emulated/0/Pictures/EasyShare/image/IMG20230217152125.jpg);    
    background-size: cover;
    background-position: center ;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    color: aliceblue;
    flex-direction: column;
}
#home p{
    position: absolute;
    top: 50%;
    font-size: 100px;
    opacity: 0;
    animation: text 3s ease-in-out;
}
@keyframes text{
    50%{
        opacity: 1;
    }
    100%{
        opacity: 5;
    }
}
@media screen land (max-width: 576px{
    #home p{
        font-size: 80px;
    }
}
